*.a
*.o
*.so
dataset
dequantize
export
import
predict
prepare_data
prune
quantize
samples.csv
speech_commands_v0.02.tar.gz
summary
test
test.csv
train
train.csv
train_cnn
train_fc
train_gru
train_lstm
train_rnn
validation.csv
